<%  @page_title = "ユーザの詳細" %>

<h1><%=  @page_title %></h1>

<div class="row">

<p><%= link_to "ユーザ一覧", :users %> | <%= link_to "編集", [:edit, @user] %></p>

<table class="highlight">
  <tr>
    <th>氏名</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>ビジネスユーザ？</th>
    <td><%= @user.business? ? "○" : "－" %></td>
  </tr>
</table>

</div>
